pipeline/SlaMonitoringPipeline.json
{
	"name": "SlaMonitoringPipeline",
	"properties": {
		"activities": [
			{
				"name": "Web_GetToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": " http://localhost:8082/api/bearer",
					"connectVia": {
						"referenceName": "bhvmas",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET"
				}
			},
			{
				"name": "Web_GetCaseList",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web_GetToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.support.microsoft.com/v0/queryresult",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded",
						"Authorization": {
							"value": "@concat('Bearer ',split(activity('Web_GetToken').output.Response,'\"')[1])",
							"type": "Expression"
						}
					},
					"body": "query=SELECT ExpiresOn,MSEG.QueryService.V1.SlaItem.casenumber,MSEG.QueryService.V1.Case_v1.AgentId,Datediff(minute,Getutcdate(),ExpiresOn\n ) FROM MSEG.QueryService.V1.SlaItem inner join MSEG.QueryService.V1.Case_v1 on \nMSEG.QueryService.V1.SlaItem.casenumber=MSEG.QueryService.V1.Case_v1.casenumber WHERE MSEG.QueryService.V1.Case_v1.AgentId in ('yuzhang4@microsoftsupport.com','bohzhan@microsoftsupport.com','jingli3@microsoftsupport.com','jinleiwang@microsoftsupport.com','jinpu@microsoftsupport.com','junjliu@microsoftsupport.com','rongli@microsoftsupport.com','ruoli@microsoftsupport.com','weyi@microsoftsupport.com','yofe@microsoftsupport.com','yud@microsoftsupport.com','yufwan@microsoftsupport.com','yuzhang4@microsoftsupport.com') and MSEG.QueryService.V1.SlaItem.State='Pending' and MSEG.QueryService.V1.SlaItem.SlaType='InitialResponse'"
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web_GetCaseList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web_GetCaseList').output.table_parameters[0].table_parameter_result",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@lessOrEquals(int(item()[3]),30)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "SendEmail",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": "https://bohansla.azurewebsites.net:443/api/slaEmail/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=W16P_QHljnrO1WybjSpNIBqUiwTt86tjqbX7o5LmKRo",
											"method": "POST",
											"headers": {
												"Content-Type": "application/json"
											},
											"body": {
												"value": "{\n   \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n   \"PipelineRunID\": \"@{pipeline().RunId}\",\n   \"TimeRemaining\": \"@{item()[3]}\",\n   \"CaseNumber\": \"@{item()[1]}\",\n   \"EmailTo\": \"@{item()[2]}\",\n   \"CaseOwner\": \"@{item()[2]}\"\n}\t",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"token": {
				"type": "String"
			},
			"item": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SLA"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-21T12:24:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}